.main-auth-container{
    background-color: #FFECE5;
    padding: 0;
    margin-top: -1rem;
    min-height: 100vh;
}
#email,#password,#confirmPassword{
    border: none;
    outline: none;
}
#email:focus,#password:focus, #confirmPassword{
    border: none;
    outline: none;
}

.input{
    border: solid 1px #D5D7D9;
}
input:focus{
    border: solid 1px #EB5017;
}

.active{
    border: solid 1px #EB5017;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color: #EB5017;
    cursor: pointer;
}

input[type=checkbox]{
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
}

.checkbox-text{
    margin-top: -1rem;
}
input::placeholder{
    color : dimgrey;
    font-size: small;
}

button[type=submit]{
    background-color: #EB5017;
    color: white !important;
    cursor: pointer !important;
}

button[type=submit]:hover, button[type=submit]:focus{
    background-color: #EB5017;
    color: white !important;
    cursor: pointer !important;
}

.container, .container > div{
    height: 100vh;
}
.orange{
    color: #EB5017;
}

.visible{
    cursor: pointer;
}